main {
    grid-template-areas: 'heading1 heading1' 'heading2 aboutImg' 'textArea aboutImg';
}
h1 {
    grid-area: heading1;
}
h2 {
    grid-area: heading2;
}
.aboutText {
    grid-area: textArea;
    margin-top: -18%;
}
figure {
    margin-right: 15%;
    display: flex;
    padding-left: 35%;
}
figure img {
    grid-area: aboutImg;
    max-width: 100%;
    max-height: 40vh;
}

@media (max-width: 720px) {
    main {
        grid-template-areas: 'heading1' 'heading2' 'aboutImg' 'textArea';
        padding: 2%;
        margin-bottom: 20vh;
    }
    .aboutText {
        margin: 0;
    }
    figure {
        padding: 0;
        margin: auto;
    }
}