/* #09090B #203446 #FAF0CA #B9AEC1 #580E20 #C5E5E7*/
html {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #203446;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    grid-template-areas: 'header' 'main' 'footer';
    min-height: 100vh;
}
main {
    padding: 0;
    padding-left: 3%;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    top: 17vh;
    font-family: "Open Sans", sans-serif;
    color: #c5e5e7;
    grid-area: main;
    display: grid;
    grid-template-columns: .8fr 1.2fr;
    grid-template-areas: 'homeText homeFigure';
    min-height: calc(100vh - 30vh);
    margin-bottom: 30vh;
}

header, footer{
    box-sizing: border-box;
    margin: 0;
    padding-top: 5px;
    padding-left: 3%;
}
.headerLogo {
    max-width: 200px;
    border-radius: 50%;
    max-height: 85%;
}

header {
    background-color: #203446;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10%;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 15vh;
    z-index: 1;
    grid-area: header;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    font-size: 1.7rem;
    border-bottom: 1px solid #faf0ca;
}

footer {
    background-color: #09090b;
    width: 100vw;
    height: 15vh;
    color: #b9aec1;
    text-align: center;
    grid-area: footer;
    box-sizing: border-box;
}
footer p {
    margin: 3px;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
}
a {
    text-decoration: none;
    color: #faf0ca;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    transition: .4s ease-in;
}

a:hover {
    transform: scale(1.2);
    color: #f65ec3;
}

a:active {
    color: white;
}

p a {
    text-decoration: underline;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
    color: #b9aec1;
}
figure {
    margin: 0;
    padding: 0;
    grid-area: homeFigure;
    max-height: 70vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
}

@media (max-width: 720px) {
    header {
        height: 12vh;
        flex-wrap: wrap;
    }
    header nav {
        flex-wrap: wrap;
        font-size: 1rem;
    }
    main {
        grid-template-columns: 1fr;
        grid-template-areas: 'homeText''homeFigure';
        top: 10vh;
        min-height: calc(100vh - 150px);
        margin-bottom: 80vh;
        padding: 0;
    }

    footer p {
        margin: 2px;
        font-size: .9em;
    }

}