body {
    background-color: #cedfcd;
    font-family: "Roboto", sans-serif;
    max-width: 1000px;
    margin: auto;
    padding: 1%;
}

h1 {
    font-family: "Playfair Display", serif;
    color: #242e2c;
}

h2 {
    font-family: "Share Tech", sans-serif;
    color: #331832;
}

p, section {
    background-color: #d5c3cf;
    color: #331832;
}

a:link {
    color: #9f422d;
    text-decoration: none;
}

a:hover {
    color: #331832;
    text-decoration: underline;
}

a:visited {
    color: #586f6b;
}

p a:link, section a:link {
    color: #9f422d;
    text-decoration: underline;
}

p a:hover, section a:hover {
    color: #331832;
    text-decoration: underline;
}

p a:visited, section a:visited {
    color: #586f6b;
}

li {
    padding-right: 3%;
}

hr {
    max-width: 65%;
    margin-left: 0px;
}
