body {
    background: linear-gradient(#b1d1d3 70%, #fffff2);
    font-family: Arial, Helvetica, sans-serif;
    color: #1d3334;
    padding: 0 5%;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

header {
    background: linear-gradient(#b1b1b1, #efe9f4, #b1d1d3);
    font-size: 2rem;
    display: block;
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
    height: 15%;
}

header img {
    max-width: 626px;
    max-height: 300px;
    min-width: 125px;
    min-height: 60px;
    display: inline-block;
    width: 15%;
    height: 35%;
    vertical-align: middle;
    margin: 0 5px;
}

main {
    height: 55%;
}

footer {
    height: 10%;
    margin: auto;
    display: block;
}

span {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    font-size: 1.5em;
    margin: 0 4px;
}

header span {
    margin: 0 10px;
}

section {
    color: #130303;
    display: inline-block;
    margin: 0 auto;
}

.home {
    width: 60%;
}

.contact {
    width: 35%;
    text-align: right;
}

li {
    margin: .5em 0;
}

h2 span {
    font-size: 2em;
}

.contact p, .contact address {
    margin: .5em 0;
}