<footer>
    <nav>
        <a href="https://github.com/arthursmith-cpcc">GitHub</a> | <a href="https://webpages.charlotte.edu/asmit775">CLTWeb</a> | <a href="../index.html">GitHub.io</a> | <a href="https://www.freecodecamp.org/arthursmith-uncc">freeCodeCamp</a> | <a href="https://www.linkedin.com/in/arthur-smith-1a2787101">LinkedIn</a>
    </nav>
    <p>Copyright &copy; 2026 | Page created by <a href="../itis3135/flairbyarthursmith.com/index.html" target="_blank">flair by Arthur Smith</a></p>
</footer>