body {
    background-color: #b7d4e1;
    max-width: 900px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.footer_nav {
    background-color: #a8c686;
    font-family: "Jost", sans-serif;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px;
}

.header_nav {
    font-family: "Jost", sans-serif;
}

h1 {
    font-family: "PT Serif", serif;
    color: #0d1b1e;
    font-size: 50px;    
}

header {
    margin-top: 25px;
    background-color: #a8c686;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
}

ul, blockquote {
    font-family: Jost, sans-serif;
}

p {
    padding-left: 10px;
    padding-right: 10px;
    font-family: Jost, sans-serif;
}

ul li {
    padding-right: 5%;
}

ol li {
    padding-right: 2%;
}

nav a:link {
    color: #0d1b1e;
    text-decoration: none;
}

nav a:visited {
    color: #0d1b1e;
    text-decoration: none;
}

nav a:hover {
    color: #853b28;
    text-decoration: underline;
}

p a:link {
    color: #0d1b1e;
    text-decoration: underline;
}

p a:visited {
    color: #0d1b1e;
    text-decoration: underline;
}

p a:hover {
    color: #853b28;
    text-decoration: underline;
}

figure img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 80%;
}

figure figcaption {
    font-style: italic;
    contain: inline-size;
    margin-left: 10%;
}

figure {
    inline-size: fit-content;
    margin-inline: auto;
}